.img2 {
    height: 348px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto
}

html {
    background-image: url("images/pixel-heart.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    

}