.img2 {
  height: 348px;
  width: auto;
  border-color: darkslateblue ;
  border-width: 5px;
  border-style: solid;
}

html {
  background-image: url("images/pixel-heart.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutMe {
    background-color: rgba(220, 220, 220, 0.534);
  padding: 15px;
}
