.img2 {
  height: 348px;
  width: auto;
  border-color: darkslateblue;
  border-width: 5px;
  border-style: solid;
}

html,
body {
  background-image: url("NewPort/images/pixel-heart.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutMe {
  background-color: linear-gradient(
    rgba(220, 220, 220, 0.534),
    rgb(243, 125, 227),
    rgb(85, 214, 149)
  );
  padding: 15px;
}

.aboutMe {
  font-family: "Poppins", sans-serif;
}

.jumbotron {
  background-color: linear-gradient(
    rgba(157, 223, 243, 0.534),
    rgb(243, 125, 227),
    rgb(85, 214, 149)
  );
}

nav {
  color: rgb(231, 193, 247);
  text-shadow: 5px 5px 5px rgba(188, 143, 143, 0.247);
  font-family: "Raleway", sans-serif;
}

.nav-link {
  color: whitesmoke;
  text-shadow: 5px 5px 5px rgba(188, 143, 143, 0.247);
  font-family: "Raleway", sans-serif;
}

.footer-brand {
  color: #2e1346;
  text-shadow: 5px 5px 5px rgba(188, 143, 143, 0.247);
  text-decoration-line: underline;
  font-family: "Raleway", sans-serif;
}

.container {
  /* background-color: gainsboro; */
  padding: 10px;
  padding-top: 15px;
}

#imgPadding {
  padding: 15px;
}

h1,
h2 {
  color: #2e1346;
  text-shadow: 5px 5px 5px rgba(188, 143, 143, 0.547);
  text-align: center;
  font-family: "Bellota Text", cursive;
}

.card-body {
  font-family: "Raleway", sans-serif;
  color: #2e1346;
}

.form {
  font-family: "Raleway", sans-serif;
  color: #2e1346;
}
