body {
  background: linear-gradient(0.25turn, #3fa690, #db87f5, #f63c3c);
}

#bottom {
  background: linear-gradient(
    217deg,
    rgba(255, 0, 0, 0.8),
    rgba(255, 0, 0, 0) 60.71%
  ),
  linear-gradient(127deg, rgba(1, 54, 1, 0.8), rgba(0, 255, 0, 0) 60.71%),
  linear-gradient(336deg, rgba(47, 3, 65, 0.8), rgba(132, 0, 255, 0) 60.71%);
  height: 10px;
}

#jtron {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 60.71%
    ),
    linear-gradient(127deg, rgba(1, 54, 1, 0.8), rgba(0, 255, 0, 0) 60.71%),
    linear-gradient(336deg, rgba(47, 3, 65, 0.8), rgba(132, 0, 255, 0) 60.71%);
  height: 300px;
}

#jtrontext {
  font-family: "Shadows Into Light", cursive;
  font-size: 150px;
  text-align: left;
}

#pLinks {
  font-size: large;
  font-family: "quicksand", sans-serif;
  font-weight: 500;
  text-align: end;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 60.71%
    ),
    linear-gradient(127deg, rgba(1, 54, 1, 0.8), rgba(0, 255, 0, 0) 60.71%),
    linear-gradient(336deg, rgba(47, 3, 65, 0.8), rgba(132, 0, 255, 0) 60.71%);
 
  height: 50px;
}

#me {
  font-family: "quicksand", sans-serif;
  background-color: rgba(216, 191, 216, 0.438);
  width: 99%;
  margin-left: 5px;
}

.card {
  display: flex;
  margin: 5px auto;
  background-image: url("../images/pixel-heart.png");
}

#myWork {
  font-family: "quicksand", sans-serif;
  font-weight: 600;
}

#contact {
  margin: 0 auto;
  font-family: "quicksand", sans-serif;
  font-weight: 600;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 60.71%
    ),
    linear-gradient(127deg, rgba(1, 54, 1, 0.8), rgba(0, 255, 0, 0) 60.71%),
    linear-gradient(336deg, rgba(47, 3, 65, 0.8), rgba(132, 0, 255, 0) 60.71%);
  padding: 15px;
  width: 90%;
}

#onContact {
  font-family: "quicksand", sans-serif;
  font-weight: 500;
  color: #1f0429;
}

#picHeader {
  font-family: "quicksand", sans-serif;
  font-weight: 500;
  color: #1f0429;
  padding-left: 5px;
}

#line {
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 60.71%
    ),
    linear-gradient(127deg, rgba(1, 54, 1, 0.8), rgba(0, 255, 0, 0) 60.71%),
    linear-gradient(336deg, rgba(47, 3, 65, 0.8), rgba(132, 0, 255, 0) 60.71%);
  width: 100%;
  padding: 30px;

}

p {
  font-family: "quicksand", sans-serif;
  font-weight: 400;
  color: #1f0429;
  padding-left: 30px;
}
.container {
  margin-bottom: 60px;
}
